<div class="container mt-5">
  <div class="section-title">
    <h2>References</h2>
  </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm d-flex align-items-center">
                <div class="card-body text-center">
                    <strong>{{ reference1Name }}</strong><br>
                    <em>{{ reference1Title }}</em><br>
                    Contact: <a href="mailto:{{ reference1Contact }}">{{ reference1Contact }}</a>
                    <br>
                    <a href="mailto:{{ reference1Contact }}" class="btn btn-danger btn-lg mt-3">Contact</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card shadow-sm d-flex align-items-center">
                <div class="card-body text-center">
                    <strong>{{ reference2Name }}</strong><br>
                    <em>{{ reference2Title }}</em><br>
                    Contact: <a href="mailto:{{ reference2Contact }}">{{ reference2Contact }}</a>
                    <br>
                    <a href="mailto:{{ reference2Contact }}" class="btn btn-danger btn-lg mt-3">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>


