<hr>
<div class="container my-5">
    <div class="row">
        <!-- Skills Section -->
        <div class="col-md-6 d-flex">
            <div class="skills-container mb-4 w-100">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
                <ul class="list-group skills-list">
                    <li class="list-group-item">{{ wordpress }}</li>
                    <li class="list-group-item">{{ figma }}</li>
                    <li class="list-group-item">{{ git }}</li>
                    <li class="list-group-item">{{ js }}</li>
                </ul>
            </div>
        </div>

        <!-- Certifications Section -->
        <div class="col-md-6 d-flex">
            <div class="certs-container mb-4 w-100">
                <div class="section-title">
                    <h2>Certifications</h2>
                </div>
                <ul class="list-group certs-list">
                    <li class="list-group-item">{{ net }}</li>
                    <li class="list-group-item">{{ cyb }}</li>
                    <li class="list-group-item">{{ freecode }}</li>
                    <li class="list-group-item">{{ python }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
