<div class="container mt-5">
    <div class="row">
        <!-- Trainings Section -->
        <div class="col-12">
            <div class="card border-light shadow-sm rounded-lg">
                <div class="card-header text-center bg-danger text-white rounded-top">
                    <h2>Trainings</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">

                        <li class="list-group-item border-0 mb-3 rounded bg-light">
                            <div>
                                <strong>{{ training1 }}</strong><br>
                                <span class="badge bg-success">Completed</span>
                            </div>
                        </li>
                        <li class="list-group-item border-0 mb-3 rounded bg-light">
                            <div>
                                <strong>{{ training2 }}</strong><br>
                                <span class="badge bg-success">Completed</span>
                            </div>
                        </li>
                        <li class="list-group-item border-0 mb-3 rounded bg-light">
                            <div>
                                <strong>{{ training3 }}</strong><br>
                                <span class="badge bg-success">Completed</span>
                            </div>
                        </li>
                        <li class="list-group-item border-0 mb-3 rounded bg-light">
                            <div>
                                <strong>{{ training4 }}</strong><br>
                                <span class="badge bg-warning">In Progress</span>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Skills and Certification Section -->
    <div class="row mt-5">
        <div class="col-12">
            <app-skills-certification></app-skills-certification>
        </div>
    </div>
</div>
